.Center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Center-container-horizontal {
  margin: 120px auto 10px auto;
}

.button-container {
  text-align: right;
}

@media (max-width: 600px) {
  .Center-container-horizontal {
    margin: 0px auto 10px auto;
  }

  .button-container {
    padding: 8px 16px 16px 16px !important;
    text-align: center;
  }

  .button-container.right {
    text-align: right;
  }

  .button-container button.full-on-phone {
    width: 100%;
  }
}
