.s480 {
  max-width: 480px;
  width: 100%;
}

.s600 {
  max-width: 600px;
  width: 100%;
}

.s800 {
  max-width: 800px;
  width: 100%;
}

.s840 {
  max-width: 840px;
  width: 100%;
}

.s940 {
  max-width: 940px;
  width: 100%;
}
